@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --color-primary: #022F40;
    --color-secondary: #DB504A;
    --font-family: 'Rubik';
    --color-tertiary: #8AC926;
    --tablet-treshold: 1380px;
    --mobile-treshold: 430px;
}

* {
     font-family: var(--font-family), serif;
}

@media only screen and (max-width: 1380px) {
    .no-tablet {
        display: none;
    }
}

@media only screen and (max-width: 430px) {
    .no-mobile {
        display: none;
    }
}
