# Write correct information here
# Then rename this file to .env

# App
APP_PORT=3000
APP_JWT_SECRET=WillBeGeneratedByApp

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=ksichtkniha