# Write correct information here
# Then rename this file to .env

# App
APP_PORT=3000
#This secret will be generated on first start
APP_JWT_SECRET=

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=ksichtkniha